@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

:root {
  /* CSS HEX */
  --smoky-black: #100b00ff;
  --yellow-green: #85cb33ff;
  --nyanza: #efffc8ff;
  --ash-gray: #a5cbc3ff;
  --drab-dark-brown: #3b341fff;

  /* Shades of Gray */
  --gray-100: #f8f9fa;
  --gray-200: #e9ecef;
  --gray-300: #dee2e6;
  --gray-400: #ced4da;
  --gray-500: #adb5bd;
  --gray-600: #6c757d;
  --gray-700: #495057;
  --gray-800: #343a40;
  --gray-900: #212529;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Montserrat';
}
body {
  background-color: var(--gray-200);
}

/* Class Definitions */
.smoky-black {
  color: var(--smoky-black);
}
.yellow-green {
  color: var(--yellow-green);
}
.nyanza {
  color: var(--nyanza);
}
.ash-gray {
  color: var(--ash-gray);
}
.drab-dark-brown {
  color: var(--drab-dark-brown);
}

.bg-smoky-black {
  background-color: var(--smoky-black);
}
.bg-yellow-green {
  background-color: var(--yellow-green);
}
.bg-nyanza {
  background-color: var(--nyanza);
}
.bg-ash-gray {
  background-color: var(--ash-gray);
}
.bg-drab-dark-brown {
  background-color: var(--drab-dark-brown);
}

.gray-100 {
  color: var(--gray-100);
}
.gray-200 {
  color: var(--gray-200);
}
.gray-300 {
  color: var(--gray-300);
}
.gray-400 {
  color: var(--gray-400);
}
.gray-500 {
  color: var(--gray-500);
}
.gray-600 {
  color: var(--gray-600);
}
.gray-700 {
  color: var(--gray-700);
}
.gray-800 {
  color: var(--gray-800);
}
.gray-900 {
  color: var(--gray-900);
}

.bg-gray-100 {
  background-color: var(--gray-100);
}
.bg-gray-200 {
  background-color: var(--gray-200);
}
.bg-gray-300 {
  background-color: var(--gray-300);
}
.bg-gray-400 {
  background-color: var(--gray-400);
}
.bg-gray-500 {
  background-color: var(--gray-500);
}
.bg-gray-600 {
  background-color: var(--gray-600);
}
.bg-gray-700 {
  background-color: var(--gray-700);
}
.bg-gray-800 {
  background-color: var(--gray-800);
}
.bg-gray-900 {
  background-color: var(--gray-900);
}

/* COMPONENTS */

/* Default Link */
a {
  color: var(--yellow-green);
  text-decoration: none;
  transition: color 0.3s, border-bottom 0.3s;
}

/* Link Hover State */
a:hover {
  color: var(--smoky-black);
  border-bottom: 1px solid var(--yellow-green);
}

/* Link Active State */
a:active {
  color: var(--drab-dark-brown);
}

.input-field {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  box-sizing: border-box;
  border: 1px solid var(--gray-400);
  border-radius: 5px;
}

.input-field:focus {
  border-color: var(--yellow-green);
  outline: none;
  box-shadow: 0 0 5px rgba(133, 203, 51, 0.5);
}

.input-field:disabled {
  background-color: var(--gray-200);
  cursor: not-allowed;
}

.btn-submit {
  background-color: var(--smoky-black);
  color: var(--gray-800);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 600;
  transition: background-color 0.3s, transform 0.2s;
}

.btn-submit:hover {
  box-shadow: 0 0 5px rgba(133, 203, 51, 0.5);
  transform: scale(0.98);
}

.btn-submit:disabled {
  background-color: var(--gray-400);
  color: var(--gray-100);
  cursor: not-allowed;
}

.header {
  color: var(--gray-900);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  font-weight: 600;
}

th:not(:first-child),
td:not(:first-child) {
  text-align: center;
}

/* Flexbox layout for sidebar and main content */
.container-fluid {
  display: flex;
  min-height: 100vh;
  padding-left: 0;
}

/* Sidebar Styles */
.sidebar {
  width: 250px;
  position: fixed;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #343a40;
  color: white;
  padding-top: 50px;
  padding-right: 10px;
}

/* Main content styles */
.main-content {
  margin-left: 250px;
  width: calc(100% - 250px);
  /* Adjusting content to be beside sidebar */
  padding-top: 50px;
}

/* Ensure table width doesn't overflow */
.table-responsive {
  max-width: 100%;
}
